.kids-wrapper {
  max-width: 1250px;
  height: auto;
  display: flex;
  margin: auto;
}
.kids-cont {
  /* background-color: chartreuse; */
  max-width: 100%;
  height:auto;
}
li{
  text-decoration: none;
  list-style: none;
}
.kids-left {
  flex: 1;
  box-sizing: border-box;
  /* border: 1px solid black; */
  /* background-color: bisque; */
  /* padding: 2px; */
  text-align: start;
  padding-top: 50px;
  height: auto;
}
.kids-right {
  flex: 4;
  /* border: 1px solid red; */
  /* background-color: aquamarine; */
  /* padding: 10px; */
  height: auto;
}
.right-head > div:nth-child(1){
  font-size: 36px;
  font-weight: 400;
  text-decoration: rgb(51, 51, 51);
  text-align: center;
   	

  color: #333333

}
/* .filter-category > ul {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: start;
} */
.kids-left > div {
  /* background-color: aquamarine; */
  /* padding:10px; */
}
.filter-div {
  /* border: 1px solid blue; */
  /* padding: 10px; */
}

.right-head {
  height: 90px;
  /* border: 1px solid red; */
  /* padding: 50px; */
  margin-bottom: 10px;
}
.right-head>div:nth-child(2){
  display: flex;
  justify-content:space-evenly;
  border: 1px solid rgb(228, 204, 202);
  border-left: none;
  border-right: none;
 

 
}
.kids-content-wrapper {
  /* border: 1px solid yellow; */
  height: fit-content;
  padding: 15px;
}
.kids-content {
  /* border: 1px solid blue; */
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
}
/* .card-cont {
  border: 1px solid green;
  width: 270px;
  height: auto;
}
.img-div {
  border: 1px solid blue;
}
.card-content-wrap {
  border: 1px solid red;
  box-sizing: border-box;
  padding: 15px;
}
.img-div > img {
  width: 100%;
  object-fit: fill;
}
.card-content {
  text-align: center;
} */
.filter-category > li{
 padding-left: 35px;
 font-size: 16px;
 font-weight: 400;
 

}
.filter-category > ul > li > label{
  font-size: 14px;
  margin: 5px;
  font-weight: 400

}
.filter-category > ul {
  margin-left: 70px;
}

@media only screen and (max-width: 1140px) {
  body {
    /* background-color: lightblue; */
  }
  .kids-left{
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  body {
    /* background-color: bisque; */
  }
  .kids-left{
    display: none;
  }
  .kids-content {
    /* border: 1px solid blue; */
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px;
    justify-content: center;
    
  }

}

@media only screen and (max-width: 610px) {
  body {
    /* background-color: bisque; */
  }
  .kids-left{
    display: none;
  }
  .kids-content {
    /* border: 1px solid blue; */
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 0px;
    justify-content: center;
    margin-top: 30px;
    
  }


}